ProyectoCapas.Web/Service References/VentaProxy/VentaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/VentaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" />
  <xs:complexType name="PaginationOfFacturaDto6X_P_SBETV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.Core" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FacturaDto" Namespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="items" nillable="true" type="q1:ArrayOfFacturaDto" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      <xs:element minOccurs="0" name="total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginationOfFacturaDto6X_P_SBETV" nillable="true" type="tns:PaginationOfFacturaDto6X_P_SBETV" />
</xs:schema>