ProyectoCapas.Web/Service References/VentaProxy/VentaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/VentaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.Core" />
  <xs:import schemaLocation="http://localhost:9001/VentaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" />
  <xs:element name="GetListaFacturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.Core" minOccurs="0" name="GetListaFacturasResult" nillable="true" type="q1:PaginationOfFacturaDto6X_P_SBETV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="facturaDto" nillable="true" type="q2:FacturaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFacturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num_fact" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="GetFacturaResult" nillable="true" type="q3:FacturaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>