ProyectoCapas.Web/Service References/TiendaProxy/TiendaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/TiendaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.Core" />
  <xs:import schemaLocation="http://localhost:9001/TiendaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" />
  <xs:element name="GetPageArticulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageArticulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.Core" minOccurs="0" name="GetPageArticulosResult" nillable="true" type="q1:PaginationOfArticuloDto6X_P_SBETV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_art" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="GetArticuloResult" nillable="true" type="q2:ArticuloDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="articulo" nillable="true" type="q3:ArticuloDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_art" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="articulo" nillable="true" type="q4:ArticuloDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_art" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListArticulosByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListArticulosByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="ListArticulosByFilterResult" nillable="true" type="q5:ArrayOfArticuloDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.Core" minOccurs="0" name="GetPageClientesResult" nillable="true" type="q6:PaginationOfClienteDto6X_P_SBETV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_clie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="GetClienteResult" nillable="true" type="q7:ClienteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="cliente" nillable="true" type="q8:ClienteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_clie" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="cliente" nillable="true" type="q9:ClienteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_clie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClientesByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListClientesByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" minOccurs="0" name="ListClientesByFilterResult" nillable="true" type="q10:ArrayOfClienteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>