ProyectoCapas.Web/Service References/TiendaProxy/TiendaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProyectoCapas.Host.TransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticuloDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticuloDto" nillable="true" type="tns:ArticuloDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticuloDto" nillable="true" type="tns:ArrayOfArticuloDto" />
  <xs:complexType name="ArticuloDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_art" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prec_unic" type="xs:decimal" />
      <xs:element minOccurs="0" name="stock" type="xs:decimal" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticuloDto" nillable="true" type="tns:ArticuloDto" />
  <xs:complexType name="ArrayOfClienteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteDto" nillable="true" type="tns:ClienteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteDto" nillable="true" type="tns:ArrayOfClienteDto" />
  <xs:complexType name="ClienteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_clie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mon_ape" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telef" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteDto" nillable="true" type="tns:ClienteDto" />
</xs:schema>